@import 'meyer-reset.css';

/*Set Up*/
* {
    box-sizing: border-box;
}

picture{
    display:block;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

a{
    display: block;
    color: inherit;
    text-decoration: none;
}

header p a, header li a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

p a, li a{
    display: inline-block;
    color: blue;
    text-decoration: underline;
}

/*Settings*/

html{
    --darkbg: #1F2937;
    --quotebg: #E5E7EB;
    --lightbg: #3882F6;

    --heromaincl: #F9FAF8;
    --heroseccl: #E5E7EB;
    --textcl: #1F2937;
    
}

/*Structure*/
body{
    display:flex;
    flex-direction: column;
    border: 10px solid blue;
    min-height: 100vh;
}

main{
    flex-grow: 1;
    border: 10px solid pink;
}

inner-column {
    display: block;
    border: 4px solid orange;
    padding: 10px;
    width: 98%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

/*Typograhpy*/

.loud-voice{
    font-family: sans-serif;
    color: var(--heromaincl);
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
}

.calm-voice{
    font-family: sans-serif;
    color: var(--heroseccl);
    font-size: 18px;
    line-height: 1;
}

.hero-logo-text{
    font-family: sans-serif;
    color: var(--heromaincl);
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
}

/*Components*/

.button{
    display: inline-block;
    background-color: var(--lightbg);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

/*Modules*/

graphic-diptych{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

graphic-diptych picture{
    display: block;
}

graphic-diptych text-content{
    display: block;
}

graphic-diptych p, .button{
    margin-top: 10px;
}

@media (min-width: 700px){
    graphic-diptych{
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }
    graphic-diptych :is(text-content, picture){
        flex-basis: 50%;
    }
}

text-diptych{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

text-diptych left-text{
    display: block;
}

text-diptych right-text{
    display: block;
}

@media (min-width: 700px){
    text-diptych{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    text-diptych :is(left-text, right-text){
        flex-basis: 50%;
    }
}



header, footer, main {
    border: 4px solid red;
}

header, footer {
    background-color: var(--darkbg);
}

.welcome{
    display: block;
    border: 4px solid lime;
    background-color: var(--darkbg);
}
